/* ===== Colours ===== */
:root {
  --body-color: #e4e9f7;
  --nav-color: transparent;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --span-color-light: #426d19;
  --span-color-dark: #fff; /* Color for span in dark mode */
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #18191a;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
  --span-color-dark: white; /* Change span color in dark mode */
}

/* Other styles remain unchanged */

span {
  /* color: var(--span-color-light); */
  background: -webkit-linear-gradient(white, #426d19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 
body.dark span {
  color: var(--span-color-dark);
} */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  background-color: var(--nav-color);

  justify-content: space-between;
  align-items: center;
  border: none;
  transition: background-color 0.5s ease;
  padding: 0 2%;
}

.scrolled {
  background: #07b807ee;
  color: #000;
}

.logo_container,
.action_bar {
  margin: 0 2%;
}

.logo_container .Kissan_home {
  width: 120px;
  height: 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .nav-links {
  display: flex;
  list-style-type: none;
  padding: 4px 0;
}

.nav-links li {
  margin: 0 1vw;
}

.nav-links a {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: background 0.4s, border-bottom 0.4s linear;
}

/* background: -webkit-linear-gradient(white, #426d19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
/* #2C5F2D, #97BC62 */
/* color: #97bc62; */
.nav-bar a:hover {
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.726));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 5px solid #6b7908;
}

.search_bar {
  height: 40px;

  width: 20%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background: #f5f5f6;
  color: #426d19;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 250px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  position: relative;
}

.action_name {
  color: rgba(255, 255, 255, 0.726);
  font-size: 17px;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.action_container .dropdown_options {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px black;
}

.dropdown_item {
  display: block;
  color: #282c3f;
  text-decoration: none;
  border-radius: 50%;
  padding: 8px 12px;
  transition: background-color 0.5s ease;
}

.dropdown_item:hover {
  border: 1px solid black;
  background-color: #6b7908;
  color: white;
}

.action_container:hover .dropdown_options {
  display: block;
}

.hamburger_menu {
  display: none;
  margin-right: 5px;
  color: #0f0e0e;
}
/* span {
  color: #426d19;
} */
span .scrolled {
  color: whitesmoke;
}
