{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\services\services.css' %}">
</head>

<body>
    <div id="feature2-elem" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"
        class="section flex flex-col items-center justify-center   w-full  ">
        <div class="fp-overflow" tabindex="-1">
            <div class="Ourservices flex flex-col items-center justify-center z-10 top-0 left-0">
                <div class="z-10 w-full">
                    <div class="section-tow flex flex-col items-center justify-center w-full ">
                        <h2 class=" main-heading" style="max-width:1152px">Our Services</h2>
                        <h3 class="sunheading" style="max-width:1152px">Service offerings for farmers</h3>
                        <div class="flex flex-wrap w-full  gap-y-4 Serviceop" style="max-width:1152px">
                            <div class="p-2 w-full md:w-1/2 ">
                                <div class="section-three h-full w-full flex ">
                                    <div class=" flex flex-col items-center gap-y-2">
                                        <p class="w-10 h-10 flex items-center justify-center text-xl rounded-md font-extrabold "
                                            style="color:rgba(255,255,255);background-color:rgba(0,0,0)">1</p>
                                    </div>
                                    <div class="flex-1" style="margin-top:-7px">
                                        <h3 class=" heading-3 rounded-md line-clamp-2">Digital solutions</h3>
                                        <p class="par rounded-md " style="color:rgba(0,0,0,.8)">Access digital
                                            services for farming needs</p>
                                    </div>
                                </div>
                            </div>


                            <div class="p-2 w-full md:w-1/2">
                                <div class="rounded-md h-full w-full flex justify-start gap-x-5 px-4">
                                    <div class="flex flex-col items-center gap-y-2">
                                        <p class="w-10 h-10 flex items-center justify-center text-xl rounded-md font-extrabold"
                                            style="color:rgba(255,255,255);background-color:rgba(0,0,0)">2</p>
                                    </div>
                                    <div class="flex-1" style="margin-top:-7px">
                                        <h3 class="font-bold heading-3 line-clamp-2">Community forum</h3>
                                        <p class="par rounded-md" style="color:rgba(0,0,0,.8)">Connect with other
                                            farmers and share knowledge</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div dir="ltr"
    class="section flex flex-col items-center justify-center z-[5] min-h-full w-full fp-section fp-table fp-is-overflow"
    id="about1-elem" data-sectionid="about1" data-sectiontype="About" data-sectionname="About us"
    data-color="#000000" data-firstsection="false"
    style="color: rgb(0, 0, 0); background-color: rgb(247, 247, 247);"
    data-fp-styles="color:#000;background-color:#f7f7f7" data-anchor="about1">
    <div class="fp-overflow" tabindex="-1">
        <div
            class="w-full flex flex-col items-center justify-center z-10 top-0 left-0 min-h-full w-full overflow-y-auto">
            <div class="z-10 w-full">
                <div
                    class="flex items-center gap-y-8 justify-left w-full py-10 flex row flex-wrap-reverse md:px-4 lg:px-6">
                    <div class="w-full px-5 md:w-1/2">
                        <h2 class="py-0.5 rounded-md outline-none text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold px-4 bg-transparent text-left pb-3 w-full lg:pb-6"
                            >Solve problems</h2>
                        <p class="py-0.5 rounded-md outline-none text-base lg:text-lg xl:text-xl font-medium bg-transparent text-left w-full px-4"
                            >Our services are designed to help farmers solve formal
                            issues efficiently. From digital solutions to legal assistance, we've got you
                            covered. Sign up now and experience the difference.</p>
                        <div class="mt-4 w-full px-3 md:w-max md:px-4">
                            <div
                                class="group flex items-center justify-center w-full flex-wrap gap-2 md:gap-3 lg:gap-4 px-0 py-0 @lg:px-0 @lg:py-0 lg:px-0 lg:py-0 md:px-0 md:py-0 @md:px-0 @md:py-0">
                            </div>
                        </div>
                    </div>
                    <div class="w-full px-6 md:w-1/2">
                        <div class="w-full h-full relative"><img
                                src="https://images.unsplash.com/photo-1590682680695-43b964a3ae17?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wxMjA3fDB8MXxzZWFyY2h8M3x8ZmFybWVyc3xlbnwwfDB8fHwxNzA5Mzc5ODQ0fDI&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                                class="w-full h-full object-cover rounded-xl object-center" alt="about"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <!-- <div dir="ltr"
    class="section flex flex-col items-center justify-center z-[5] min-h-full w-full fp-section fp-table fp-is-overflow"
    id="about2-elem" data-sectionid="about2" data-sectiontype="About" data-sectionname="About us"
    data-color="#000000" data-firstsection="false"
    style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"
    data-fp-styles="color:#000;background-color:#fff" data-anchor="about2">
    <div class="fp-overflow" tabindex="-1">
        <div
            class="w-full flex flex-col items-center justify-center z-10 top-0 left-0 min-h-full w-full overflow-y-auto">
            <div class="z-10 w-full">
                <div
                    class="flex items-center gap-y-8 justify-left w-full py-10 flex-row-reverse flex-wrap md:px-4 lg:px-6">
                    <div class="w-full px-5 md:w-1/2">
                        <h2 class="py-0.5 rounded-md outline-none text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold px-4 bg-transparent text-left pb-3 w-full lg:pb-6"
                            >Save time and money</h2>
                        <p class="py-0.5 rounded-md outline-none text-base lg:text-lg xl:text-xl font-medium bg-transparent text-left w-full px-4"
                            >With Kisan Seva, you can save time and money by accessing
                            all the services you need in one place. No more running around or dealing with
                            middlemen. Simplify your life with us.</p>
                        <div class="mt-4 w-full px-3 md:w-max md:px-4">
                            <div
                                class="group flex items-center justify-center w-full flex-wrap gap-2 md:gap-3 lg:gap-4 px-0 py-0 @lg:px-0 @lg:py-0 lg:px-0 lg:py-0 md:px-0 md:py-0 @md:px-0 @md:py-0">
                            </div>
                        </div>
                    </div>
                    <div class="w-full px-6 md:w-1/2">
                        <div class="w-full h-full relative"><img
                                src="https://images.unsplash.com/photo-1569880153113-76e33fc52d5f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8ZmFybWVyc3xlbnwwfDB8fHwxNzA5Mzc5ODQ0fDI&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                                class="w-full h-full object-cover rounded-xl object-center" alt="about"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
</body>

</html>